registry=https://msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/registry/

always-auth=true

; begin auth token
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/registry/:username=msazure
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/registry/:_password=ZWxudXRubXZsMmp2d3hwcmR0bTNhNHBtazI2NW5hbGlicHI0dnFvNW1rZHp6Nmd0Y3N5YQ==
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/registry/:email=npm requires email to be set but doesn't use the value
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/:username=msazure
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/:_password=ZWxudXRubXZsMmp2d3hwcmR0bTNhNHBtazI2NW5hbGlicHI0dnFvNW1rZHp6Nmd0Y3N5YQ==
//msazure.pkgs.visualstudio.com/_packaging/power-platform-ux/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
